<div class="col@@col @@if(context.colLg){col-lg@@colLg} @@if(context.class){@@class}">
    @@if(context.label){
    <label for="@@id" class="form-label @@if(context.labelRwd===true){d-none d-lg-block}">@@label@@if(context.required===true){ <span class="text-danger fs-mall">*</span>}</label>
    }
    @@if(context.type!='select'){
        @@if(context.prefixLabel!='' || ontext.affixLabel!=''){
            <div class="input-group flex-nowrap">
        }
            @@if(context.prefixLabel){
                <span class="input-group-text">@@prefixLabel</span>
            }
                <input type="@@type" class="form-control @@if(context.affixLabel){border-end-0}" id="@@id" placeholder="@@placeholder" @@if(context.required===true){required}>
            @@if(context.affixLabel){
                <a class="input-group-text border-start-0 bg-white toggle-password" href="javascript:void();" toggle="#@@id">@@affixLabel</a>
            }
        @@if(context.prefixLabel!='' || ontext.affixLabel!=''){
            </div>
        }
    }
    @@if(context.type=='select'){
        <select class="form-select">
            <option @@if(context.value1){value="@@value1"}>@@opt1</option>
            @@if(context.opt2){
            <option @@if(context.value2){value="@@value2"}>@@opt2</option>
            }
            @@if(context.opt3){
            <option @@if(context.value3){value="@@value3"}>@@opt3</option>
            }
        </select>
    }
    @@if(context.href){
        <a class="fs-small" href="@@href">Confirm Change</a>
    }
</div>