<div class="col-12 col-md-6 col-lg-3 my-12">
    <div class="border">
        <div class="p-16">
            <div class="row gx-12 gy-32 align-items-center row-cols-2">
                <div class="col-auto">
                    <img class="of-cover rounded-circle wh-80" src="@@img" alt="@@title">
                </div>
                <div class="col-8">
                    <div class="h5 text-row-1 mb-4">@@title</div>
                    <div class="text-secondary text-row-2">
                        @@desc
                    </div>
                </div>
                <div class="col-9">
                    <div class="progress rounded">
                        <div class="progress-bar @@if(context.progress=='100'){bg-success} @@if(context.progress!='100'){progress-bar-striped progress-bar-animated}" role="progressbar" style="width: @@progress%;" aria-valuenow="@@progress" aria-valuemin="0" aria-valuemax="100">
                            @@progress%
                        </div>
                    </div>
                </div>
                <div class="col-auto lh-1 text-end">
                    <span class="lead">@@pts</span> <span class="fs-small">pts</span>
                </div>
            </div>
        </div>
        <div class="border-top py-8">
            <div class="text-primary text-uppercase text-center">@@state</div>
        </div>
    </div>
</div>