<div class="position-fixed top-50 end-0 translate-middle-y z-100 me-40 d-none d-lg-block" id="quicknav">
    <div class="btn-group-vertical">
        <a class="btn p-0 border-0" href="#">
            <img class="of-cover" src="assets/img/uploads/btn-helpler.png" alt="DW Rider">
        </a>
        <a class="btn p-0 border-0" href="#">
            <img class="of-cover" src="assets/img/uploads/btn-facebook.png" alt="Facebook">
        </a>
        <a class="btn p-0 border-0" href="#">
            <img class="of-cover" src="assets/img/uploads/btn-line.png" alt="Line">
        </a>
    </div>
    <div class="position-absolute top-0 end-0 me-4" style="z-index: 100;">
        <!-- <a class="btn-quicknav-close" href="javascript:void();">
            <img src="assets/img/ui/icon-close.svg" alt="Close">
        </a> -->
        <a class="btn-quicknav-close" href="javascript:void();">
            <i class="bi bi-x-circle-fill text-white lead"></i>
        </a>
    </div>
</div>